@font-face {
  font-family: 'RalewaySemiBold';
  src: url('fonts/Raleway-SemiBold.ttf');
  src: url('fonts/raleway-semibold.woff');
  src: url('fonts/OpenSans-Bold.ttf');
  src: url('fonts/opensans-bold.woff');
  src: url('fonts/Raleway-Regular.ttf');
  src: url('fonts/Raleway-Regular.woff');
  src: url('fonts/Raleway-Bold.ttf');
  src: url('fonts/Raleway-Bold.woff');
  src: url('fonts/Cardo-Italic.ttf');
  src: url('fonts/Cardo-Italic.woff');
  src: url('fonts/Raleway-Light.otf');
  src: url('fonts/Raleway-Light.woff');
}

* {
    margin: 0;
    padding:0;
}


.header {
    background: url("img/layer34.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
  }

.container {
    width: 1170px;
    margin: 0 auto;
}

.header_container {
    height: 100px;
    border-bottom: 1px solid #4f5168;
}

.logo {
    width: 17%;
    height: 100px;
    float:left;
}

.logo a {
  line-height: 118px;
}

.nav {
    width: calc(100%-17%);
    height: 100px;
    float: right; 
    color: #b7b8c1;
    line-height: 100px;
}

ul.menu> li> a{
  display: none;  
}

.nav ul li {
  display: inline-block;
  margin-left: 60px;
  position: relative;
}

.nav a {
  color: rgba(255, 255, 255, 0.749);;
  text-decoration: none;
  display: inline-block;
  line-height: 100px;
  font-family: RalewaySemiBold;
  font-size: 13px;
  font-weight:bold;
  text-transform: uppercase;
}

.masterheader_container {
  text-align: center;
  padding-bottom: 150px;
}

.masterheader h1{
  text-align: center;
  font-size: 65px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  margin-top: 157px;
}

.masterheader p{
  text-align: center;
  font-family: "Raleway Regular";
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight:normal;
  margin-top: 42px;
}

.masterheader button{
  display:block;
  margin: 0 auto;
  margin-top: 77px; 
  border-radius: 2px;
  border: none;
  background-color: rgb(232, 69, 69);
  width: 200px;
  height: 46px;
}

.masterheader button a{
  text-decoration: none;
  font-family: RalewaySemiBold;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px; 
}

.features{
  width: 100%;
  background-size: cover;
  background-color:  rgb(255, 255, 255);
}


.img{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 120px;
}

.img1{
  width: 30%;
  text-align: center;
  padding-top: 70px;
}

.img h1{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(45, 48, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 65px;
  text-align: center;
}
.img p{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(108, 114, 121);
  line-height: 20px;
  text-align: center;
}

.works{
  width: 100%;
  display: block;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.works a {
  border-right: 1px solid #fff;
  margin-bottom: 1px;
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  position: relative;
}

.works img {
  height: 100%;
  width: 100%;
}

.popup-text {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 81, 77, .8);
  text-align: center;
  text-decoration:none;
  left: 0;
  top: 0;
}
.cover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cover h4{
  text-align: center;
  font-family: "Raleway";
  font-size: 14px;
  font-weight:bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.cover p{
  font-family: "Raleway Regular";
  font-size: 14px;
  font-weight:normal;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.works a:hover .popup-text {
  display: block;
}

.works a:nth-child(4n) {
  border-right: 0 none;
}

.team {
  width: 100%;
  background-size: cover;
  background-color:  rgb(255, 255, 255);
}

.teamworkers {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teamworker {
  width: 25%;
  text-align: left;
  padding: 0 15px 100px 15px;
  box-sizing: border-box;
}

.teamworker > a img {
  width: 100%;
}

.teamworkers h1{
  margin-top: 30px;
  font-size: 22px;
  font-family: "Raleway Regular";
  font-weight:normal;
  color: rgb(45, 48, 51);
  line-height: 20px;
  text-align: left;
}

.teamworkers h2{
  margin-top: 16px;
  font-size: 13px;
  font-family: "Raleway Regular";
  font-weight:normal;
  color: rgb(232, 69, 69);
  text-transform: uppercase;
  line-height: 10px;  
  text-align: left;
}

.teamworkers p{
  margin-top: 20px;
  font-size: 14px;
  font-family: "Raleway Regular";
  font-weight: normal;
  color: rgb(108, 114, 121);
  line-height: 20px;
  text-align: left;
}

.social a {
  display: inline-block;
  text-align: center; 
  line-height: 46px;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid;
  border-color: rgb(232, 236, 238);
}

.clients {
  width: 100%;
  background-color: #53354a;
}

.slider{
  display: flex;
  text-align: left;
}

.slider img{
  float: left;
  width: 50%;
}

.text{
  width: 50%;
  margin-left: 80px;
  margin-top: 40px;
}

.slider h1{
  font-size: 36px;
  font-family: "Cardo";
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: normal;
}

.slider p{
  font-size: 13px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
}

.download download_container {
  text-align: center; 
  background-color: white;
}

.download h1{
  font-size: 28px;
  font-family: "Raleway Light";
  color: rgb(45, 48, 51);
  text-align: center;
  margin-top: 100px;
}

.download p{
  font-size: 13px;
  font-family: "Raleway";
  color: rgb(45, 48, 51);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px; 
}

.download button{
  display:block;
  margin: 0 auto;
  margin-top: 40px; 
  margin-bottom: 100px; 
  border-radius: 2px;
  border: none;
  background-color: rgb(232, 69, 69);
  width: 280px;
  height: 46px;
}

.download button a{
  text-decoration: none;
  font-size: 13px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px; 
}

.footer {
  background-color: #3a3e64;
  text-align: center;
}

.footer_container {
  margin-top: 70px;
  margin-bottom: 100px;
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
}

.footer_container h1{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.bottomfeatures{
  width: 33%;
}

.location a{
  text-decoration: none;
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgba(255, 255, 255, 0.502);
  text-align: center;
}

.share a{
  display: inline-block;
  text-align:center; 
  line-height: 46px;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-color: rgb(232, 236, 238);
}

.about p {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgba(255, 255, 255, 0.502);
  text-align: center;
  line-height: 20px;
}

.copyring{
  text-align: center;
  background-color: #313454;
  padding-bottom: 28px;
}

.copyring h1{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(128, 128, 128);
  text-align: center;
  line-height: 20px;
  padding-top: 28px;
}

.copyring h1 span{
  font-size: 14px;
  font-family: "Raleway";
  color: white;
  line-height: 20px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 960px;
  }

  .nav ul li {
  margin-left: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 600px;
  }

  .nav ul li {
  margin-left: 10px;
  }

  .nav a {
  font-size: 12px;
  }

  .masterheader_container {
  padding-bottom: 50px;
  }

  .masterheader h1 {
  font-size: 40px;
  margin-top: 130px;
  }

  .masterheader button {
  margin-top: 40px;
  }

  .img1{
  width: 50%;
  }

  .works a {
  width: 50%;
  }

  .teamworker {
  width: 50%;
  }

  .teamworkers {
  padding-top: 50px;
  }

  .text {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  }

  .slider h1 {
  font-size: 22px;
  }

  .slider p {
  font-size: 12px;
  line-height: 40px;
  }

  .download h1 {
  margin-top: 70px;
  }

  .download button {
  margin-bottom: 70px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 300px;

  }

  ul.menu > li{ 
    text-align: left;
  } 

  ul.menu > li > a{
    display: block;
    line-height: 100px;
    text-align: left;
  }

  ul.menu > li > a:hover {
    color: black;
  }

  ul.submenu {
    display: none;
    position: absolute;
    line-height: 25px;
    right: 70px;
    width: 100%; 
    text-align: left;
  }

  ul.submenu > li > a {
    display: block;
    line-height: 30px;
    border-bottom: 1px solid #4f5168;
  }

  ul.submenu > li > a:hover {
    color: black;
  }

  ul.menu > li:hover > ul.submenu {
    display: block;
  }

  .masterheader_container {
    padding-bottom: 50px;
  }
  
  .masterheader h1 {
    font-size: 140%;
    line-height: 40px;
    margin-top: 140px;
  }

  .masterheader p {
    font-size: 90%;
    margin-top: 10px;
  }

  .masterheader button {
    margin-top: 40px;
    width: 150px;
  }

  .img1{
    width: 100%;
  }

  .teamworker {
    width: 100%;
  }

  .teamworkers {
    padding-top: 10px;
  }
  .works {
    display: none;
  }

  .text {
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .slider h1 {
    font-size: 10px;
  }

  .slider p {
    font-size: 5px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .download h1 {
    font-size: 22px;
    margin-top: 40px;
  }

  .download p {
    font-size: 10px;
    margin-top: 10px;
  }

  .download button {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 200px;
  }

  .footer_container {
  margin-top: 50px;
  margin-bottom: 50px;
  }

  .footer_container h1 {
  font-size: 12px;
  }

  .share a {
  line-height: 31px;
  width: 25px;
  height: 25px;
  }

  .copyring {
  padding-bottom: 15px;
  }

  .copyring h1 {
  font-size: 13px;
  padding-top: 15px;
  }

  .bottomfeatures{
  width: 100%;
  }
}